/*重置浏览器样式*/
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.clear:after {
	content: '';
	display : block;
	height: 0;
	clear: both;
}
body {
	line-height: 1;
}
img {
	vertical-align: bottom;
}